
div.nodepoints-view-transaction ul.nodepoints-links {
    padding-left: 0;
}

div.nodepoints-view-transaction ul.nodepoints-links li.first {
    padding-left: 0;
}

div.block-nodepoints div.nodepoints-total {
    margin-top: 5px;
    margin-bottom: 5px;
}

div.block-nodepoints ul.nodepoints-links li {
    display: block;
}

td.nodepoints-transactions-field-points {
  text-align: right;
}

table.nodepoints-mynodepoints-total td {
  width: 50%;
}

table.nodepoints-mynodepoints-total {
  width: 50%;
  min-width: 300px;
}

.nodepoints-view-transaction {
  clear: both;
  margin: 1em 0;
}
.nodepoints-view-transaction h3 {
  border-bottom: 1px solid #ccc;
}
.nodepoints-view-transaction dl {
  margin: 0 0 1.5em 0;
}
.nodepoints-view-transaction dt {
  margin: 0 0 0.2em 0;
  font-weight: bold;
}
.nodepoints-view-transaction dd {
  margin: 0 0 1em 0;
}

div.form-item-entity-type, div.form-item-entity-id {
    display: inline;
}
